@if (ficheFacteurXIII) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(ficheFacteurXIII.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="ficheFacteurXIIIDeleteDialogHeading">Confirmation de suppression</h4>
    </div>

    <div class="modal-body">
      <jhi-alert-error></jhi-alert-error>
      <p id="jhi-delete-ficheFacteurXIII-heading">
        Êtes-vous certain de vouloir supprimer le Fiche Facteur XIII {{ ficheFacteurXIII.id }} ?
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span>Annuler</span>
      </button>

      <button id="jhi-confirm-delete-ficheFacteurXIII" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
        <fa-icon icon="times"></fa-icon>&nbsp;<span>Supprimer</span>
      </button>
    </div>
  </form>
}
