<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (ficheHemophilie(); as ficheHemophilieRef) {
      <div>
        <h2 data-cy="ficheHemophilieDetailsHeading"><span>Fiche Hemophilie</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.id }}</span>
          </dd>
          <dt><span>Dossier Number</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.dossierNumber }}</span>
          </dd>
          <dt><span>Ordre Number</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.ordreNumber }}</span>
          </dd>
          <dt><span>Index Number</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.indexNumber }}</span>
          </dd>
          <dt><span>Prenom</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.prenom }}</span>
          </dd>
          <dt><span>Nom</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.nom }}</span>
          </dd>
          <dt><span>Nom Jeune Fille</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.nomJeuneFille }}</span>
          </dd>
          <dt><span>Profession</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.profession }}</span>
          </dd>
          <dt><span>Etat Civil</span></dt>
          <dd>
            <span>{{
              { null: '', CELIBATAIRE: 'CELIBATAIRE', MARIE: 'MARIE', DIVORCE: 'DIVORCE', NP: 'NP' }[ficheHemophilieRef.etatCivil ?? 'null']
            }}</span>
          </dd>
          <dt><span>Service Clinique</span></dt>
          <dd>
            <span>{{
              {
                null: '',
                HTO: 'HTO',
                PRIVE: 'PRIVE',
                PEDIATRIE_A: 'PEDIATRIE_A',
                PEDIATRIE_B: 'PEDIATRIE_B',
                PUR: 'PUR',
                GYNECO: 'GYNECO',
                AUTRE: 'AUTRE',
              }[ficheHemophilieRef.serviceClinique ?? 'null']
            }}</span>
          </dd>
          <dt><span>Autre Service Clinique</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.autreServiceClinique }}</span>
          </dd>
          <dt><span>Couverture Sociale</span></dt>
          <dd>
            <span>{{ { null: '', CNAM: 'CNAM', INDIGENT: 'INDIGENT', NP: 'NP' }[ficheHemophilieRef.couvertureSociale ?? 'null'] }}</span>
          </dd>
          <dt><span>Sexe</span></dt>
          <dd>
            <span>{{ { null: '', MASCULIN: 'MASCULIN', FEMININ: 'FEMININ' }[ficheHemophilieRef.sexe ?? 'null'] }}</span>
          </dd>
          <dt><span>Date Naissance</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.dateNaissance | formatMediumDate }}</span>
          </dd>
          <dt><span>Age Actuel</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.ageActuel }}</span>
          </dd>
          <dt><span>Origine</span></dt>
          <dd>
            <span>{{
              {
                null: '',
                SFAX: 'SFAX',
                GABES: 'GABES',
                GAFSA: 'GAFSA',
                KEBILI: 'KEBILI',
                TOZEUR: 'TOZEUR',
                MEDNINE: 'MEDNINE',
                TATAOUINE: 'TATAOUINE',
                SBZ: 'SBZ',
                KASSERINE: 'KASSERINE',
                MAHDIA: 'MAHDIA',
                KAIRAOUANE: 'KAIRAOUANE',
                MONASTIR: 'MONASTIR',
                SOUSSE: 'SOUSSE',
                AUTRE: 'AUTRE',
              }[ficheHemophilieRef.origine ?? 'null']
            }}</span>
          </dd>
          <dt><span>Autre Origine</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.autreOrigine }}</span>
          </dd>
          <dt><span>Adresse</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.adresse }}</span>
          </dd>
          <dt><span>Telephone</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.telephone }}</span>
          </dd>
          <dt><span>Prenom Pere</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.prenomPere }}</span>
          </dd>
          <dt><span>Profession Pere</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.professionPere }}</span>
          </dd>
          <dt><span>Nom Prenom Mere</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.nomPrenomMere }}</span>
          </dd>
          <dt><span>Profession Mere</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.professionMere }}</span>
          </dd>
          <dt><span>Medecin Traitant</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.medecinTraitant }}</span>
          </dd>
          <dt><span>Service Origine</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.serviceOrigine }}</span>
          </dd>
          <dt><span>Biologiste Responsable Dg</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.biologisteResponsableDg }}</span>
          </dd>
          <dt><span>Diagnostic</span></dt>
          <dd>
            <span>{{
              {
                null: '',
                HEMOPHILIE: 'HEMOPHILIE',
                WILLEBRAND: 'WILLEBRAND',
                THROMBOPATHIE: 'THROMBOPATHIE',
                DEFICIT_FACTEUR_VII: 'DEFICIT_FACTEUR_VII',
                DEFICIT_FACTEUR_XI: 'DEFICIT_FACTEUR_XI',
                DEFICIT_FACTEUR_XIII: 'DEFICIT_FACTEUR_XIII',
                DEFICIT_COMBINE: 'DEFICIT_COMBINE',
                AUTRE: 'AUTRE',
              }[ficheHemophilieRef.diagnostic ?? 'null']
            }}</span>
          </dd>
          <dt><span>Autre Diagnostic</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.autreDiagnostic }}</span>
          </dd>
          <dt><span>Annee Diagnostic</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.anneeDiagnostic }}</span>
          </dd>
          <dt><span>Consentement Registre</span></dt>
          <dd>
            <span>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheHemophilieRef.consentementRegistre ?? 'null'] }}</span>
          </dd>
          <dt><span>Date Enregistrement Registre</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.dateEnregistrementRegistre | formatMediumDate }}</span>
          </dd>
          <dt><span>Parents Consanguins</span></dt>
          <dd>
            <span>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheHemophilieRef.parentsConsanguins ?? 'null'] }}</span>
          </dd>
          <dt><span>Degre Parente Consanguins</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.degreParenteConsanguins }}</span>
          </dd>
          <dt><span>Cas Similaires</span></dt>
          <dd>
            <span>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheHemophilieRef.casSimilaires ?? 'null'] }}</span>
          </dd>
          <dt><span>Nombre Cas</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.nombreCas }}</span>
          </dd>
          <dt><span>Degre Parente Cas Similaires</span></dt>
          <dd>
            <span>{{
              { null: '', FRERE: 'FRERE', COUSIN: 'COUSIN', LOINTAIN: 'LOINTAIN' }[ficheHemophilieRef.degreParenteCasSimilaires ?? 'null']
            }}</span>
          </dd>
          <dt><span>Deces Syndrome Hemorragique</span></dt>
          <dd>
            <span>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheHemophilieRef.decesSyndromeHemorragique ?? 'null'] }}</span>
          </dd>
          <dt><span>Nombre Deces</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.nombreDeces }}</span>
          </dd>
          <dt><span>Forme Hemophilie</span></dt>
          <dd>
            <span>{{
              { null: '', SPORADIQUE: 'SPORADIQUE', HEREDITAIRE: 'HEREDITAIRE', NP: 'NP' }[ficheHemophilieRef.formeHemophilie ?? 'null']
            }}</span>
          </dd>
          <dt><span>Fratrie Nb Freres</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.fratrieNbFreres }}</span>
          </dd>
          <dt><span>Fratrie Nb Soeurs</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.fratrieNbSoeurs }}</span>
          </dd>
          <dt><span>Circonstances Decouverte</span></dt>
          <dd>
            <span>{{
              { null: '', FORTUITE: 'FORTUITE', FAMILIALE: 'FAMILIALE', SYNDROME_HEMORRAGIQUE: 'SYNDROME_HEMORRAGIQUE' }[
                ficheHemophilieRef.circonstancesDecouverte ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span>Cutaneo Muqueux</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.cutaneoMuqueux }}</span>
          </dd>
          <dt><span>Hemarthrose</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.hemarthrose }}</span>
          </dd>
          <dt><span>Hematome Post Traumatique</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.hematomePostTraumatique }}</span>
          </dd>
          <dt><span>Plaie Post Traumatique</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.plaiePostTraumatique }}</span>
          </dd>
          <dt><span>Hemorragie Post Circoncision</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.hemorragiePostCirconcision }}</span>
          </dd>
          <dt><span>Hemorragie Post Chirurgie</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.hemorragiePostChirurgie }}</span>
          </dd>
          <dt><span>Hemorragie Cerebrale</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.hemorragieCerebrale }}</span>
          </dd>
          <dt><span>Hemorragie Digestive</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.hemorragieDigestive }}</span>
          </dd>
          <dt><span>Date Premier Signe Clinique</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.datePremierSigneClinique | formatMediumDate }}</span>
          </dd>
          <dt><span>Age Diagnostic Jours</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.ageDiagnosticJours }}</span>
          </dd>
          <dt><span>Age Diagnostic Mois</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.ageDiagnosticMois }}</span>
          </dd>
          <dt><span>Age Diagnostic Annees</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.ageDiagnosticAnnees }}</span>
          </dd>
          <dt><span>Date Test Confirmation</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.dateTestConfirmation | formatMediumDate }}</span>
          </dd>
          <dt><span>Hb</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.hb }}</span>
          </dd>
          <dt><span>Ht</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.ht }}</span>
          </dd>
          <dt><span>Plaquettes</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.plaquettes }}</span>
          </dd>
          <dt><span>Tp</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.tp }}</span>
          </dd>
          <dt><span>Fibrinogene</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.fibrinogene }}</span>
          </dd>
          <dt><span>Tca MT</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.tcaMT }}</span>
          </dd>
          <dt><span>Tca MT Total</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.tcaMTTotal }}</span>
          </dd>
          <dt><span>Tca MT 2 H</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.tcaMT2h }}</span>
          </dd>
          <dt><span>Tca Temoin 2 H</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.tcaTemoin2h }}</span>
          </dd>
          <dt><span>Ts</span></dt>
          <dd>
            <span>{{
              { null: '', FAIT: 'FAIT', NON_FAIT: 'NON_FAIT', NORMAL: 'NORMAL', ALLONGE: 'ALLONGE' }[ficheHemophilieRef.ts ?? 'null']
            }}</span>
          </dd>
          <dt><span>Pfa</span></dt>
          <dd>
            <span>{{
              { null: '', FAIT: 'FAIT', NON_FAIT: 'NON_FAIT', NORMAL: 'NORMAL', ALLONGE: 'ALLONGE' }[ficheHemophilieRef.pfa ?? 'null']
            }}</span>
          </dd>
          <dt><span>Dosage Facteur VIII</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.dosageFacteurVIII }}</span>
          </dd>
          <dt><span>Dosage Facteur IX</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.dosageFacteurIX }}</span>
          </dd>
          <dt><span>Dosage Facteur VW Activite</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.dosageFacteurVWActivite }}</span>
          </dd>
          <dt><span>Dosage Facteur VW Antigene</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.dosageFacteurVWAntigene }}</span>
          </dd>
          <dt><span>Forme Clinique</span></dt>
          <dd>
            <span>{{ { null: '', A: 'A', B: 'B' }[ficheHemophilieRef.formeClinique ?? 'null'] }}</span>
          </dd>
          <dt><span>Severite</span></dt>
          <dd>
            <span>{{ { null: '', SEVERE: 'SEVERE', MODEREE: 'MODEREE', MINEURE: 'MINEURE' }[ficheHemophilieRef.severite ?? 'null'] }}</span>
          </dd>
          <dt><span>Exploration Moleculaire</span></dt>
          <dd>
            <span>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheHemophilieRef.explorationMoleculaire ?? 'null'] }}</span>
          </dd>
          <dt><span>Inversion Intron 22</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.inversionIntron22 }}</span>
          </dd>
          <dt><span>Autre Exploration Moleculaire</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.autreExplorationMoleculaire }}</span>
          </dd>
          <dt><span>Hemarthrose MC</span></dt>
          <dd>
            <span>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheHemophilieRef.hemarthroseMC ?? 'null'] }}</span>
          </dd>
          <dt><span>Hemarthrose Siege</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.hemarthroseSiege }}</span>
          </dd>
          <dt><span>Hemarthrose Type</span></dt>
          <dd>
            <span>{{ { null: '', SPONTANE: 'SPONTANE', PROVOQUE: 'PROVOQUE' }[ficheHemophilieRef.hemarthroseType ?? 'null'] }}</span>
          </dd>
          <dt><span>Hemarthrose Frequence An</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.hemarthroseFrequenceAn }}</span>
          </dd>
          <dt><span>Hematome Superficiel</span></dt>
          <dd>
            <span>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheHemophilieRef.hematomeSuperficiel ?? 'null'] }}</span>
          </dd>
          <dt><span>Hematome Superficiel Type</span></dt>
          <dd>
            <span>{{
              { null: '', SPONTANE: 'SPONTANE', PROVOQUE: 'PROVOQUE' }[ficheHemophilieRef.hematomeSuperficielType ?? 'null']
            }}</span>
          </dd>
          <dt><span>Hematome Superficiel Siege</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.hematomeSuperficielSiege }}</span>
          </dd>
          <dt><span>Hematome Psoas</span></dt>
          <dd>
            <span>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheHemophilieRef.hematomePsoas ?? 'null'] }}</span>
          </dd>
          <dt><span>Hematome Psoas Type</span></dt>
          <dd>
            <span>{{
              {
                null: '',
                CHUTE_DENTAIRE: 'CHUTE_DENTAIRE',
                PLAIE_LANGUE: 'PLAIE_LANGUE',
                GINGIVORRAGIES: 'GINGIVORRAGIES',
                EPISTAXIS: 'EPISTAXIS',
                ECHYMOSES: 'ECHYMOSES',
              }[ficheHemophilieRef.hematomePsoasType ?? 'null']
            }}</span>
          </dd>
          <dt><span>Hematome Psoas Recidive</span></dt>
          <dd>
            <span>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheHemophilieRef.hematomePsoasRecidive ?? 'null'] }}</span>
          </dd>
          <dt><span>Hemorragies Cutaneo Muqueuses</span></dt>
          <dd>
            <span>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheHemophilieRef.hemorragiesCutaneoMuqueuses ?? 'null'] }}</span>
          </dd>
          <dt><span>Hemorragies Cutaneo Muqueuses Types</span></dt>
          <dd>
            <span>{{
              {
                null: '',
                CHUTE_DENTAIRE: 'CHUTE_DENTAIRE',
                PLAIE_LANGUE: 'PLAIE_LANGUE',
                GINGIVORRAGIES: 'GINGIVORRAGIES',
                EPISTAXIS: 'EPISTAXIS',
                ECHYMOSES: 'ECHYMOSES',
              }[ficheHemophilieRef.hemorragiesCutaneoMuqueusesTypes ?? 'null']
            }}</span>
          </dd>
          <dt><span>Hemorragies Cutaneo Muqueuses Frequence An</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.hemorragiesCutaneoMuqueusesFrequenceAn }}</span>
          </dd>
          <dt><span>Hemorragie Visceres</span></dt>
          <dd>
            <span>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheHemophilieRef.hemorragieVisceres ?? 'null'] }}</span>
          </dd>
          <dt><span>Hemorragie Visceres Type</span></dt>
          <dd>
            <span>{{
              { null: '', HEMATEMESE: 'HEMATEMESE', RECTORRAGIE: 'RECTORRAGIE', HEMATURIE: 'HEMATURIE' }[
                ficheHemophilieRef.hemorragieVisceresType ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span>Hemorragie Visceres Exploration</span></dt>
          <dd>
            <span>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheHemophilieRef.hemorragieVisceresExploration ?? 'null'] }}</span>
          </dd>
          <dt><span>Hemorragie Visceres Examen</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.hemorragieVisceresExamen }}</span>
          </dd>
          <dt><span>Saignement SNC</span></dt>
          <dd>
            <span>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheHemophilieRef.saignementSNC ?? 'null'] }}</span>
          </dd>
          <dt><span>Saignement SNC Evolution</span></dt>
          <dd>
            <span>{{ { null: '', REGRESSION: 'REGRESSION', DECES: 'DECES' }[ficheHemophilieRef.saignementSNCEvolution ?? 'null'] }}</span>
          </dd>
          <dt><span>Circoncision</span></dt>
          <dd>
            <span>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheHemophilieRef.circoncision ?? 'null'] }}</span>
          </dd>
          <dt><span>Circoncision Preparation</span></dt>
          <dd>
            <span>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheHemophilieRef.circoncisionPreparation ?? 'null'] }}</span>
          </dd>
          <dt><span>Circoncision Suite Operatoire</span></dt>
          <dd>
            <span>{{
              { null: '', SIMPLE: 'SIMPLE', HEMORRAGIQUE: 'HEMORRAGIQUE', NP: 'NP' }[
                ficheHemophilieRef.circoncisionSuiteOperatoire ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span>Circoncision Age</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.circoncisionAge }}</span>
          </dd>
          <dt><span>Avulsion Dentaire</span></dt>
          <dd>
            <span>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheHemophilieRef.avulsionDentaire ?? 'null'] }}</span>
          </dd>
          <dt><span>Avulsion Dentaire Preparation</span></dt>
          <dd>
            <span>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheHemophilieRef.avulsionDentairePreparation ?? 'null'] }}</span>
          </dd>
          <dt><span>Intervention Chirurgicale</span></dt>
          <dd>
            <span>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheHemophilieRef.interventionChirurgicale ?? 'null'] }}</span>
          </dd>
          <dt><span>Intervention Chirurgicale Type</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.interventionChirurgicaleType }}</span>
          </dd>
          <dt><span>Accidents Hemorragiques Graves</span></dt>
          <dd>
            <span>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheHemophilieRef.accidentsHemorragiquesGraves ?? 'null'] }}</span>
          </dd>
          <dt><span>Accidents Hemorragiques Graves Types</span></dt>
          <dd>
            <span>{{
              {
                null: '',
                HEMATOMES_CEREBRALES: 'HEMATOMES_CEREBRALES',
                HEMOTHORAX: 'HEMOTHORAX',
                EDC_HEMORRAGIQUE: 'EDC_HEMORRAGIQUE',
                HEMATOME_COMPRESSIF: 'HEMATOME_COMPRESSIF',
              }[ficheHemophilieRef.accidentsHemorragiquesGravesTypes ?? 'null']
            }}</span>
          </dd>
          <dt><span>Prise En Charge Therapeutique</span></dt>
          <dd>
            <span>{{
              { null: '', A_LA_DEMANDE: 'A_LA_DEMANDE', PROPHYLAXIE: 'PROPHYLAXIE' }[
                ficheHemophilieRef.priseEnChargeTherapeutique ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span>Cause Prise En Charge</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.causePriseEnCharge }}</span>
          </dd>
          <dt><span>Prophylaxie Dose Frequence</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.prophylaxieDoseFrequence }}</span>
          </dd>
          <dt><span>Date Debut Prophylaxie</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.dateDebutProphylaxie | formatMediumDate }}</span>
          </dd>
          <dt><span>Injection Type</span></dt>
          <dd>
            <span>{{
              { null: '', AUTO_INJECTION: 'AUTO_INJECTION', INJECTION_PARENT: 'INJECTION_PARENT', INJECTION_HOPITAL: 'INJECTION_HOPITAL' }[
                ficheHemophilieRef.injectionType ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span>Modalite Traitement</span></dt>
          <dd>
            <span>{{
              { null: '', PLASMATIQUE: 'PLASMATIQUE', RECOMBINANT: 'RECOMBINANT' }[ficheHemophilieRef.modaliteTraitement ?? 'null']
            }}</span>
          </dd>
          <dt><span>Type Traitement Substitutif</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.typeTraitementSubstitutif }}</span>
          </dd>
          <dt><span>Age Premiere Substitution</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.agePremiereSubstitution }}</span>
          </dd>
          <dt><span>Antecedents Traitement PSL</span></dt>
          <dd>
            <span>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheHemophilieRef.antecedentsTraitementPSL ?? 'null'] }}</span>
          </dd>
          <dt><span>Plasma Frais Congele</span></dt>
          <dd>
            <span>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheHemophilieRef.plasmaFraisCongele ?? 'null'] }}</span>
          </dd>
          <dt><span>Cryoprecipite</span></dt>
          <dd>
            <span>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheHemophilieRef.cryoprecipite ?? 'null'] }}</span>
          </dd>
          <dt><span>Orthopediques</span></dt>
          <dd>
            <span>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheHemophilieRef.orthopediques ?? 'null'] }}</span>
          </dd>
          <dt><span>Synovite</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.synovite }}</span>
          </dd>
          <dt><span>Arthropathie Hemophilique Chronique</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.arthropathieHemophiliqueChronique }}</span>
          </dd>
          <dt><span>Pseudotumeurs</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.pseudotumeurs }}</span>
          </dd>
          <dt><span>Fractures</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.fractures }}</span>
          </dd>
          <dt><span>Coude Droit</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.coudeDroit }}</span>
          </dd>
          <dt><span>Coude Gauche</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.coudeGauche }}</span>
          </dd>
          <dt><span>Genou Droit</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.genouDroit }}</span>
          </dd>
          <dt><span>Genou Gauche</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.genouGauche }}</span>
          </dd>
          <dt><span>Cheville Droite</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.chevilleDroite }}</span>
          </dd>
          <dt><span>Cheville Gauche</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.chevilleGauche }}</span>
          </dd>
          <dt><span>Epaule Droite</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.epauleDroite }}</span>
          </dd>
          <dt><span>Epaule Gauche</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.epauleGauche }}</span>
          </dd>
          <dt><span>Poignet Droit</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.poignetDroit }}</span>
          </dd>
          <dt><span>Poignet Gauche</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.poignetGauche }}</span>
          </dd>
          <dt><span>Hanche Droite</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.hancheDroite }}</span>
          </dd>
          <dt><span>Hanche Gauche</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.hancheGauche }}</span>
          </dd>
          <dt><span>Pec Therapeutique</span></dt>
          <dd>
            <span>{{
              { null: '', RAS: 'RAS', SYNOVIORTHOSE: 'SYNOVIORTHOSE', PTG: 'PTG' }[ficheHemophilieRef.pecTherapeutique ?? 'null']
            }}</span>
          </dd>
          <dt><span>Inhibiteurs</span></dt>
          <dd>
            <span>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheHemophilieRef.inhibiteurs ?? 'null'] }}</span>
          </dd>
          <dt><span>Taux Inhibiteur</span></dt>
          <dd>
            <span>{{
              { null: '', FAIBLE_REPONDEUR: 'FAIBLE_REPONDEUR', FORT_REPONDEUR: 'FORT_REPONDEUR', NP: 'NP' }[
                ficheHemophilieRef.tauxInhibiteur ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span>Test Recuperation FAH</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.testRecuperationFAH }}</span>
          </dd>
          <dt><span>Date Test Recuperation</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.dateTestRecuperation | formatMediumDate }}</span>
          </dd>
          <dt><span>Taux Recuperation</span></dt>
          <dd>
            <span>{{ { null: '', NORMAL: 'NORMAL', DIMINUE: 'DIMINUE' }[ficheHemophilieRef.tauxRecuperation ?? 'null'] }}</span>
          </dd>
          <dt><span>Anti FAH Non Neutralisant</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.antiFAHNonNeutralisant }}</span>
          </dd>
          <dt><span>Anti FAH Negatif</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.antiFAHNegatif }}</span>
          </dd>
          <dt><span>Recherche ACC</span></dt>
          <dd>
            <span>{{
              { null: '', NON_FAITE: 'NON_FAITE', FAITE: 'FAITE', POSITIVE: 'POSITIVE', NEGATIVE: 'NEGATIVE', DOUTEUSE: 'DOUTEUSE' }[
                ficheHemophilieRef.rechercheACC ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span>Augmenter Dose Facteur</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.augmenterDoseFacteur }}</span>
          </dd>
          <dt><span>Novoseven</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.novoseven }}</span>
          </dd>
          <dt><span>Feiba</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.feiba }}</span>
          </dd>
          <dt><span>Corticotherapie</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.corticotherapie }}</span>
          </dd>
          <dt><span>Immurel</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.immurel }}</span>
          </dd>
          <dt><span>Iti</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.iti }}</span>
          </dd>
          <dt><span>Posologie ITI</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.posologieITI }}</span>
          </dd>
          <dt><span>Duree ITI</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.dureeITI }}</span>
          </dd>
          <dt><span>Observance ITI</span></dt>
          <dd>
            <span>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheHemophilieRef.observanceITI ?? 'null'] }}</span>
          </dd>
          <dt><span>Cause Non Observance</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.causeNonObservance }}</span>
          </dd>
          <dt><span>Evolution Inhibiteur</span></dt>
          <dd>
            <span>{{
              { null: '', DISPARITION: 'DISPARITION', PERSISTANCE: 'PERSISTANCE' }[ficheHemophilieRef.evolutionInhibiteur ?? 'null']
            }}</span>
          </dd>
          <dt><span>Prophylaxie Hemlibra</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.prophylaxieHemlibra }}</span>
          </dd>
          <dt><span>Date Debut Hemlibra</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.dateDebutHemlibra | formatMediumDate }}</span>
          </dd>
          <dt><span>Schema Therapeutique</span></dt>
          <dd>
            <span>{{
              { null: '', HEBDOMADAIRE: 'HEBDOMADAIRE', MENSUEL: 'MENSUEL', BIMENSUEL: 'BIMENSUEL' }[
                ficheHemophilieRef.schemaTherapeutique ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span>Efficacite Hemlibra</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.efficaciteHemlibra }}</span>
          </dd>
          <dt><span>Serologie HBC</span></dt>
          <dd>
            <span>{{ { null: '', POSITIVE: 'POSITIVE', NEGATIVE: 'NEGATIVE', NP: 'NP' }[ficheHemophilieRef.serologieHBC ?? 'null'] }}</span>
          </dd>
          <dt><span>Serologie HVC</span></dt>
          <dd>
            <span>{{ { null: '', POSITIVE: 'POSITIVE', NEGATIVE: 'NEGATIVE', NP: 'NP' }[ficheHemophilieRef.serologieHVC ?? 'null'] }}</span>
          </dd>
          <dt><span>Date Decouverte VHC</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.dateDecouverteVHC | formatMediumDate }}</span>
          </dd>
          <dt><span>Charge Virale VHC</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.chargeViraleVHC }}</span>
          </dd>
          <dt><span>Traitement VHC</span></dt>
          <dd>
            <span>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheHemophilieRef.traitementVHC ?? 'null'] }}</span>
          </dd>
          <dt><span>Evolution VHC</span></dt>
          <dd>
            <span>{{
              { null: '', DISPARITION: 'DISPARITION', PERSISTANCE: 'PERSISTANCE' }[ficheHemophilieRef.evolutionVHC ?? 'null']
            }}</span>
          </dd>
          <dt><span>Serologie HIV</span></dt>
          <dd>
            <span>{{ { null: '', POSITIVE: 'POSITIVE', NEGATIVE: 'NEGATIVE', NP: 'NP' }[ficheHemophilieRef.serologieHIV ?? 'null'] }}</span>
          </dd>
          <dt><span>Vie Sociale</span></dt>
          <dd>
            <span>{{
              { null: '', PRESCOLAIRE: 'PRESCOLAIRE', SCOLARISE: 'SCOLARISE', CHOMEUR: 'CHOMEUR', TRAVAILLE: 'TRAVAILLE' }[
                ficheHemophilieRef.vieSociale ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span>Marie</span></dt>
          <dd>
            <span>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheHemophilieRef.marie ?? 'null'] }}</span>
          </dd>
          <dt><span>Enfants</span></dt>
          <dd>
            <span>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheHemophilieRef.enfants ?? 'null'] }}</span>
          </dd>
          <dt><span>Handicap</span></dt>
          <dd>
            <span>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheHemophilieRef.handicap ?? 'null'] }}</span>
          </dd>
          <dt><span>Type Handicap</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.typeHandicap }}</span>
          </dd>
          <dt><span>Activite Sportive</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.activiteSportive }}</span>
          </dd>
          <dt><span>Type Activite Sportive</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.typeActiviteSportive }}</span>
          </dd>
          <dt><span>Decede</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.decede }}</span>
          </dd>
          <dt><span>Cause Deces</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.causeDeces }}</span>
          </dd>
          <dt><span>Date Deces</span></dt>
          <dd>
            <span>{{ ficheHemophilieRef.dateDeces | formatMediumDate }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Retour</span>
        </button>

        <button type="button" [routerLink]="['/fiche-hemophilie', ficheHemophilieRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editer</span>
        </button>
      </div>
    }
  </div>
</div>
