@if (ficheFacteurXI) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(ficheFacteurXI.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="ficheFacteurXIDeleteDialogHeading">Confirmation de suppression</h4>
    </div>

    <div class="modal-body">
      <jhi-alert-error></jhi-alert-error>
      <p id="jhi-delete-ficheFacteurXI-heading">Êtes-vous certain de vouloir supprimer le Fiche Facteur XI {{ ficheFacteurXI.id }} ?</p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span>Annuler</span>
      </button>

      <button id="jhi-confirm-delete-ficheFacteurXI" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
        <fa-icon icon="times"></fa-icon>&nbsp;<span>Supprimer</span>
      </button>
    </div>
  </form>
}
