<div>
  <h2 id="page-heading" data-cy="FicheFacteurVIIHeading">
    <span>FicheFacteurVIIS</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-fiche-facteur-vii"
        [routerLink]="['/fiche-facteur-vii/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Créer un nouveau Fiche Facteur VII</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (ficheFacteurVIIS?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>Aucun Fiche Facteur VII trouvé</span>
    </div>
  }

  @if (ficheFacteurVIIS && ficheFacteurVIIS.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dossierNumber">
              <div class="d-flex">
                <span>Dossier Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ordreNumber">
              <div class="d-flex">
                <span>Ordre Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="indexNumber">
              <div class="d-flex">
                <span>Index Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="prenom">
              <div class="d-flex">
                <span>Prenom</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nom">
              <div class="d-flex">
                <span>Nom</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nomJeuneFille">
              <div class="d-flex">
                <span>Nom Jeune Fille</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="profession">
              <div class="d-flex">
                <span>Profession</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="etatCivil">
              <div class="d-flex">
                <span>Etat Civil</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="serviceClinique">
              <div class="d-flex">
                <span>Service Clinique</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="autreServiceClinique">
              <div class="d-flex">
                <span>Autre Service Clinique</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="couvertureSociale">
              <div class="d-flex">
                <span>Couverture Sociale</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sexe">
              <div class="d-flex">
                <span>Sexe</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateNaissance">
              <div class="d-flex">
                <span>Date Naissance</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ageActuel">
              <div class="d-flex">
                <span>Age Actuel</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="origine">
              <div class="d-flex">
                <span>Origine</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="autreOrigine">
              <div class="d-flex">
                <span>Autre Origine</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="adresse">
              <div class="d-flex">
                <span>Adresse</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="telephone">
              <div class="d-flex">
                <span>Telephone</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="prenomPere">
              <div class="d-flex">
                <span>Prenom Pere</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="professionPere">
              <div class="d-flex">
                <span>Profession Pere</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nomPrenomMere">
              <div class="d-flex">
                <span>Nom Prenom Mere</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="professionMere">
              <div class="d-flex">
                <span>Profession Mere</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="medecinTraitant">
              <div class="d-flex">
                <span>Medecin Traitant</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="serviceOrigine">
              <div class="d-flex">
                <span>Service Origine</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="biologisteResponsableDg">
              <div class="d-flex">
                <span>Biologiste Responsable Dg</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="diagnostic">
              <div class="d-flex">
                <span>Diagnostic</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="autreDiagnostic">
              <div class="d-flex">
                <span>Autre Diagnostic</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="anneeDiagnostic">
              <div class="d-flex">
                <span>Annee Diagnostic</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="consentementRegistre">
              <div class="d-flex">
                <span>Consentement Registre</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateEnregistrementRegistre">
              <div class="d-flex">
                <span>Date Enregistrement Registre</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="parentsConsanguins">
              <div class="d-flex">
                <span>Parents Consanguins</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="degreParenteConsanguins">
              <div class="d-flex">
                <span>Degre Parente Consanguins</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="casSimilaires">
              <div class="d-flex">
                <span>Cas Similaires</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nombreCas">
              <div class="d-flex">
                <span>Nombre Cas</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cas1Numero">
              <div class="d-flex">
                <span>Cas 1 Numero</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lienParenteCas1">
              <div class="d-flex">
                <span>Lien Parente Cas 1</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="degreParenteCas1">
              <div class="d-flex">
                <span>Degre Parente Cas 1</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="typeHemorragieCas1">
              <div class="d-flex">
                <span>Type Hemorragie Cas 1</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cas2Numero">
              <div class="d-flex">
                <span>Cas 2 Numero</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lienParenteCas2">
              <div class="d-flex">
                <span>Lien Parente Cas 2</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="degreParenteCas2">
              <div class="d-flex">
                <span>Degre Parente Cas 2</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="typeHemorragieCas2">
              <div class="d-flex">
                <span>Type Hemorragie Cas 2</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cas3Numero">
              <div class="d-flex">
                <span>Cas 3 Numero</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lienParenteCas3">
              <div class="d-flex">
                <span>Lien Parente Cas 3</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="degreParenteCas3">
              <div class="d-flex">
                <span>Degre Parente Cas 3</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="typeHemorragieCas3">
              <div class="d-flex">
                <span>Type Hemorragie Cas 3</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="decesSyndromeHemorragique">
              <div class="d-flex">
                <span>Deces Syndrome Hemorragique</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nombreDeces">
              <div class="d-flex">
                <span>Nombre Deces</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="deces1Numero">
              <div class="d-flex">
                <span>Deces 1 Numero</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lienParenteDeces1">
              <div class="d-flex">
                <span>Lien Parente Deces 1</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="causeDeces1">
              <div class="d-flex">
                <span>Cause Deces 1</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="deces2Numero">
              <div class="d-flex">
                <span>Deces 2 Numero</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lienParenteDeces2">
              <div class="d-flex">
                <span>Lien Parente Deces 2</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="causeDeces2">
              <div class="d-flex">
                <span>Cause Deces 2</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="deces3Numero">
              <div class="d-flex">
                <span>Deces 3 Numero</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lienParenteDeces3">
              <div class="d-flex">
                <span>Lien Parente Deces 3</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="causeDeces3">
              <div class="d-flex">
                <span>Cause Deces 3</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="enqueteFamiliale">
              <div class="d-flex">
                <span>Enquete Familiale</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="decouverteFortuite">
              <div class="d-flex">
                <span>Decouverte Fortuite</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="enqueteFamilialeBool">
              <div class="d-flex">
                <span>Enquete Familiale Bool</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="explorationSyndromeHemorragique">
              <div class="d-flex">
                <span>Exploration Syndrome Hemorragique</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="typeExplorationSyndromeHemorragique">
              <div class="d-flex">
                <span>Type Exploration Syndrome Hemorragique</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="datePremierSigneClinique">
              <div class="d-flex">
                <span>Date Premier Signe Clinique</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ageDiagnosticJour">
              <div class="d-flex">
                <span>Age Diagnostic Jour</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ageDiagnosticMois">
              <div class="d-flex">
                <span>Age Diagnostic Mois</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ageDiagnosticAnnee">
              <div class="d-flex">
                <span>Age Diagnostic Annee</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="hb">
              <div class="d-flex">
                <span>Hb</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ht">
              <div class="d-flex">
                <span>Ht</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="plaquettes">
              <div class="d-flex">
                <span>Plaquettes</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="toPfa200ColEpi">
              <div class="d-flex">
                <span>To Pfa 200 Col Epi</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="toPfa200ColAdp">
              <div class="d-flex">
                <span>To Pfa 200 Col Adp</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tp">
              <div class="d-flex">
                <span>Tp</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tpMT">
              <div class="d-flex">
                <span>Tp MT</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="fibrinogene">
              <div class="d-flex">
                <span>Fibrinogene</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tcaMT">
              <div class="d-flex">
                <span>Tca MT</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="facteurVII">
              <div class="d-flex">
                <span>Facteur VII</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dosageAutresFacteurs">
              <div class="d-flex">
                <span>Dosage Autres Facteurs</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="confirmationMoleculaire">
              <div class="d-flex">
                <span>Confirmation Moleculaire</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="mutationPresence">
              <div class="d-flex">
                <span>Mutation Presence</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="mutationType">
              <div class="d-flex">
                <span>Mutation Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="epistaxis">
              <div class="d-flex">
                <span>Epistaxis</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="frequenceEpistaxis">
              <div class="d-flex">
                <span>Frequence Epistaxis</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="gingivorragies">
              <div class="d-flex">
                <span>Gingivorragies</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="typeGingivorragies">
              <div class="d-flex">
                <span>Type Gingivorragies</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="frequenceGingivorragies">
              <div class="d-flex">
                <span>Frequence Gingivorragies</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ecchymose">
              <div class="d-flex">
                <span>Ecchymose</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="typeEcchymose">
              <div class="d-flex">
                <span>Type Ecchymose</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="frequenceEcchymose">
              <div class="d-flex">
                <span>Frequence Ecchymose</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="menorragie">
              <div class="d-flex">
                <span>Menorragie</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="frequenceMenorragie">
              <div class="d-flex">
                <span>Frequence Menorragie</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="hematemese">
              <div class="d-flex">
                <span>Hematemese</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="frequenceHematemese">
              <div class="d-flex">
                <span>Frequence Hematemese</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="rectorragie">
              <div class="d-flex">
                <span>Rectorragie</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="frequenceRectorragie">
              <div class="d-flex">
                <span>Frequence Rectorragie</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="hematurie">
              <div class="d-flex">
                <span>Hematurie</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="frequenceHematurie">
              <div class="d-flex">
                <span>Frequence Hematurie</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="hematomeSousCutane">
              <div class="d-flex">
                <span>Hematome Sous Cutane</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="typeHematomeSousCutane">
              <div class="d-flex">
                <span>Type Hematome Sous Cutane</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="frequenceHematomeSousCutane">
              <div class="d-flex">
                <span>Frequence Hematome Sous Cutane</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="hematomeMusculaire">
              <div class="d-flex">
                <span>Hematome Musculaire</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="siegeHematomeMusculaire">
              <div class="d-flex">
                <span>Siege Hematome Musculaire</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="typeHematomeMusculaire">
              <div class="d-flex">
                <span>Type Hematome Musculaire</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="frequenceHematomeMusculaire">
              <div class="d-flex">
                <span>Frequence Hematome Musculaire</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="hemarthrose">
              <div class="d-flex">
                <span>Hemarthrose</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="typeHemarthrose">
              <div class="d-flex">
                <span>Type Hemarthrose</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="frequenceHemarthrose">
              <div class="d-flex">
                <span>Frequence Hemarthrose</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="saignementSNC">
              <div class="d-flex">
                <span>Saignement SNC</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="typeSaignementSNC">
              <div class="d-flex">
                <span>Type Saignement SNC</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="frequenceSaignementSNC">
              <div class="d-flex">
                <span>Frequence Saignement SNC</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ruptureKystesHemorragiques">
              <div class="d-flex">
                <span>Rupture Kystes Hemorragiques</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="hemorragiesPostChirurgicales">
              <div class="d-flex">
                <span>Hemorragies Post Chirurgicales</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="hemoperitone">
              <div class="d-flex">
                <span>Hemoperitone</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="accidentsThrombotiques">
              <div class="d-flex">
                <span>Accidents Thrombotiques</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="typeAccidentsThrombotiques">
              <div class="d-flex">
                <span>Type Accidents Thrombotiques</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="hemorragieGrave">
              <div class="d-flex">
                <span>Hemorragie Grave</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="typeHemorragieGrave">
              <div class="d-flex">
                <span>Type Hemorragie Grave</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="chirurgiePrepare">
              <div class="d-flex">
                <span>Chirurgie Prepare</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="suiteOperatoireHemorragique">
              <div class="d-flex">
                <span>Suite Operatoire Hemorragique</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="circoncisionPrepare">
              <div class="d-flex">
                <span>Circoncision Prepare</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="suiteOperatoireCirconcision">
              <div class="d-flex">
                <span>Suite Operatoire Circoncision</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ageCirconcision">
              <div class="d-flex">
                <span>Age Circoncision</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="facteurVIIRecombinant">
              <div class="d-flex">
                <span>Facteur VII Recombinant</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="plasmaFraisCongele">
              <div class="d-flex">
                <span>Plasma Frais Congele</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cryoprecipite">
              <div class="d-flex">
                <span>Cryoprecipite</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="culotsPlaquettaires">
              <div class="d-flex">
                <span>Culots Plaquettaires</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dicynone">
              <div class="d-flex">
                <span>Dicynone</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="exacyl">
              <div class="d-flex">
                <span>Exacyl</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="traitementMartial">
              <div class="d-flex">
                <span>Traitement Martial</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="traitementOestroprogestatif">
              <div class="d-flex">
                <span>Traitement Oestroprogestatif</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="transfusionCGR">
              <div class="d-flex">
                <span>Transfusion CGR</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="inhibiteurs">
              <div class="d-flex">
                <span>Inhibiteurs</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="inhibiteurNeutralisant">
              <div class="d-flex">
                <span>Inhibiteur Neutralisant</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="titreUB">
              <div class="d-flex">
                <span>Titre UB</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="inhibiteurNonNeutralisant">
              <div class="d-flex">
                <span>Inhibiteur Non Neutralisant</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="infectionsVirales">
              <div class="d-flex">
                <span>Infections Virales</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="thrombose">
              <div class="d-flex">
                <span>Thrombose</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="reactionAllergique">
              <div class="d-flex">
                <span>Reaction Allergique</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="alloImmunisation">
              <div class="d-flex">
                <span>Allo Immunisation</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="adhesionTherapeutique">
              <div class="d-flex">
                <span>Adhesion Therapeutique</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="causeNonAdhesion">
              <div class="d-flex">
                <span>Cause Non Adhesion</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="vieSociale">
              <div class="d-flex">
                <span>Vie Sociale</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="mariage">
              <div class="d-flex">
                <span>Mariage</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="enfants">
              <div class="d-flex">
                <span>Enfants</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="activitePhysique">
              <div class="d-flex">
                <span>Activite Physique</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="typeActivitePhysique">
              <div class="d-flex">
                <span>Type Activite Physique</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sequelles">
              <div class="d-flex">
                <span>Sequelles</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="typeSequelles">
              <div class="d-flex">
                <span>Type Sequelles</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="patientDecede">
              <div class="d-flex">
                <span>Patient Decede</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateDeces">
              <div class="d-flex">
                <span>Date Deces</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ageDeces">
              <div class="d-flex">
                <span>Age Deces</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="hemorragieSnc">
              <div class="d-flex">
                <span>Hemorragie Snc</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="hemorragieAutreQueSnc">
              <div class="d-flex">
                <span>Hemorragie Autre Que Snc</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="hiv">
              <div class="d-flex">
                <span>Hiv</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="autreInfection">
              <div class="d-flex">
                <span>Autre Infection</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="evenementThromboembolique">
              <div class="d-flex">
                <span>Evenement Thromboembolique</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cancer">
              <div class="d-flex">
                <span>Cancer</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="covid19">
              <div class="d-flex">
                <span>Covid 19</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="inconnue">
              <div class="d-flex">
                <span>Inconnue</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="autreEvenement">
              <div class="d-flex">
                <span>Autre Evenement</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="autreEvenementDetails">
              <div class="d-flex">
                <span>Autre Evenement Details</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (ficheFacteurVII of ficheFacteurVIIS; track trackId(ficheFacteurVII)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/fiche-facteur-vii', ficheFacteurVII.id, 'view']">{{ ficheFacteurVII.id }}</a>
              </td>
              <td>{{ ficheFacteurVII.dossierNumber }}</td>
              <td>{{ ficheFacteurVII.ordreNumber }}</td>
              <td>{{ ficheFacteurVII.indexNumber }}</td>
              <td>{{ ficheFacteurVII.prenom }}</td>
              <td>{{ ficheFacteurVII.nom }}</td>
              <td>{{ ficheFacteurVII.nomJeuneFille }}</td>
              <td>{{ ficheFacteurVII.profession }}</td>
              <td>
                {{
                  { null: '', CELIBATAIRE: 'CELIBATAIRE', MARIE: 'MARIE', DIVORCE: 'DIVORCE', NP: 'NP' }[
                    ficheFacteurVII.etatCivil ?? 'null'
                  ]
                }}
              </td>
              <td>
                {{
                  {
                    null: '',
                    HTO: 'HTO',
                    PRIVE: 'PRIVE',
                    PEDIATRIE_A: 'PEDIATRIE_A',
                    PEDIATRIE_B: 'PEDIATRIE_B',
                    PUR: 'PUR',
                    GYNECO: 'GYNECO',
                    AUTRE: 'AUTRE',
                  }[ficheFacteurVII.serviceClinique ?? 'null']
                }}
              </td>
              <td>{{ ficheFacteurVII.autreServiceClinique }}</td>
              <td>{{ { null: '', CNAM: 'CNAM', INDIGENT: 'INDIGENT', NP: 'NP' }[ficheFacteurVII.couvertureSociale ?? 'null'] }}</td>
              <td>{{ { null: '', MASCULIN: 'MASCULIN', FEMININ: 'FEMININ' }[ficheFacteurVII.sexe ?? 'null'] }}</td>
              <td>{{ ficheFacteurVII.dateNaissance | formatMediumDate }}</td>
              <td>{{ ficheFacteurVII.ageActuel }}</td>
              <td>
                {{
                  {
                    null: '',
                    SFAX: 'SFAX',
                    GABES: 'GABES',
                    GAFSA: 'GAFSA',
                    KEBILI: 'KEBILI',
                    TOZEUR: 'TOZEUR',
                    MEDNINE: 'MEDNINE',
                    TATAOUINE: 'TATAOUINE',
                    SBZ: 'SBZ',
                    KASSERINE: 'KASSERINE',
                    MAHDIA: 'MAHDIA',
                    KAIRAOUANE: 'KAIRAOUANE',
                    MONASTIR: 'MONASTIR',
                    SOUSSE: 'SOUSSE',
                    AUTRE: 'AUTRE',
                  }[ficheFacteurVII.origine ?? 'null']
                }}
              </td>
              <td>{{ ficheFacteurVII.autreOrigine }}</td>
              <td>{{ ficheFacteurVII.adresse }}</td>
              <td>{{ ficheFacteurVII.telephone }}</td>
              <td>{{ ficheFacteurVII.prenomPere }}</td>
              <td>{{ ficheFacteurVII.professionPere }}</td>
              <td>{{ ficheFacteurVII.nomPrenomMere }}</td>
              <td>{{ ficheFacteurVII.professionMere }}</td>
              <td>{{ ficheFacteurVII.medecinTraitant }}</td>
              <td>{{ ficheFacteurVII.serviceOrigine }}</td>
              <td>{{ ficheFacteurVII.biologisteResponsableDg }}</td>
              <td>
                {{
                  {
                    null: '',
                    HEMOPHILIE: 'HEMOPHILIE',
                    WILLEBRAND: 'WILLEBRAND',
                    THROMBOPATHIE: 'THROMBOPATHIE',
                    DEFICIT_FACTEUR_VII: 'DEFICIT_FACTEUR_VII',
                    DEFICIT_FACTEUR_XI: 'DEFICIT_FACTEUR_XI',
                    DEFICIT_FACTEUR_XIII: 'DEFICIT_FACTEUR_XIII',
                    DEFICIT_COMBINE: 'DEFICIT_COMBINE',
                    AUTRE: 'AUTRE',
                  }[ficheFacteurVII.diagnostic ?? 'null']
                }}
              </td>
              <td>{{ ficheFacteurVII.autreDiagnostic }}</td>
              <td>{{ ficheFacteurVII.anneeDiagnostic }}</td>
              <td>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheFacteurVII.consentementRegistre ?? 'null'] }}</td>
              <td>{{ ficheFacteurVII.dateEnregistrementRegistre | formatMediumDate }}</td>
              <td>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheFacteurVII.parentsConsanguins ?? 'null'] }}</td>
              <td>
                {{
                  { null: '', TROISIEME_DEGRE: 'TROISIEME_DEGRE', QUATRIEME_DEGRE: 'QUATRIEME_DEGRE', LOINTAIN: 'LOINTAIN' }[
                    ficheFacteurVII.degreParenteConsanguins ?? 'null'
                  ]
                }}
              </td>
              <td>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheFacteurVII.casSimilaires ?? 'null'] }}</td>
              <td>{{ ficheFacteurVII.nombreCas }}</td>
              <td>{{ ficheFacteurVII.cas1Numero }}</td>
              <td>{{ { null: '', FRERE: 'FRERE', COUSIN: 'COUSIN', LOINTAIN: 'LOINTAIN' }[ficheFacteurVII.lienParenteCas1 ?? 'null'] }}</td>
              <td>{{ ficheFacteurVII.degreParenteCas1 }}</td>
              <td>{{ ficheFacteurVII.typeHemorragieCas1 }}</td>
              <td>{{ ficheFacteurVII.cas2Numero }}</td>
              <td>{{ { null: '', FRERE: 'FRERE', COUSIN: 'COUSIN', LOINTAIN: 'LOINTAIN' }[ficheFacteurVII.lienParenteCas2 ?? 'null'] }}</td>
              <td>{{ ficheFacteurVII.degreParenteCas2 }}</td>
              <td>{{ ficheFacteurVII.typeHemorragieCas2 }}</td>
              <td>{{ ficheFacteurVII.cas3Numero }}</td>
              <td>{{ { null: '', FRERE: 'FRERE', COUSIN: 'COUSIN', LOINTAIN: 'LOINTAIN' }[ficheFacteurVII.lienParenteCas3 ?? 'null'] }}</td>
              <td>{{ ficheFacteurVII.degreParenteCas3 }}</td>
              <td>{{ ficheFacteurVII.typeHemorragieCas3 }}</td>
              <td>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheFacteurVII.decesSyndromeHemorragique ?? 'null'] }}</td>
              <td>{{ ficheFacteurVII.nombreDeces }}</td>
              <td>{{ ficheFacteurVII.deces1Numero }}</td>
              <td>
                {{ { null: '', FRERE: 'FRERE', COUSIN: 'COUSIN', LOINTAIN: 'LOINTAIN' }[ficheFacteurVII.lienParenteDeces1 ?? 'null'] }}
              </td>
              <td>{{ ficheFacteurVII.causeDeces1 }}</td>
              <td>{{ ficheFacteurVII.deces2Numero }}</td>
              <td>
                {{ { null: '', FRERE: 'FRERE', COUSIN: 'COUSIN', LOINTAIN: 'LOINTAIN' }[ficheFacteurVII.lienParenteDeces2 ?? 'null'] }}
              </td>
              <td>{{ ficheFacteurVII.causeDeces2 }}</td>
              <td>{{ ficheFacteurVII.deces3Numero }}</td>
              <td>
                {{ { null: '', FRERE: 'FRERE', COUSIN: 'COUSIN', LOINTAIN: 'LOINTAIN' }[ficheFacteurVII.lienParenteDeces3 ?? 'null'] }}
              </td>
              <td>{{ ficheFacteurVII.causeDeces3 }}</td>
              <td>{{ { null: '', FAITE: 'FAITE', NONFAITE: 'NONFAITE' }[ficheFacteurVII.enqueteFamiliale ?? 'null'] }}</td>
              <td>{{ ficheFacteurVII.decouverteFortuite }}</td>
              <td>{{ ficheFacteurVII.enqueteFamilialeBool }}</td>
              <td>{{ ficheFacteurVII.explorationSyndromeHemorragique }}</td>
              <td>
                {{
                  {
                    null: '',
                    CUTANEO_MUQUEUX: 'CUTANEO_MUQUEUX',
                    METRORRAGIE: 'METRORRAGIE',
                    HEMORRAGIE_CEREBRALE_NN: 'HEMORRAGIE_CEREBRALE_NN',
                    HEMORRAGIE_DIGESTIVE: 'HEMORRAGIE_DIGESTIVE',
                    HEMARTHROSE: 'HEMARTHROSE',
                    HEMORRAGIE_POSTPARTUM: 'HEMORRAGIE_POSTPARTUM',
                  }[ficheFacteurVII.typeExplorationSyndromeHemorragique ?? 'null']
                }}
              </td>
              <td>{{ ficheFacteurVII.datePremierSigneClinique | formatMediumDate }}</td>
              <td>{{ ficheFacteurVII.ageDiagnosticJour }}</td>
              <td>{{ ficheFacteurVII.ageDiagnosticMois }}</td>
              <td>{{ ficheFacteurVII.ageDiagnosticAnnee }}</td>
              <td>{{ ficheFacteurVII.hb }}</td>
              <td>{{ ficheFacteurVII.ht }}</td>
              <td>{{ ficheFacteurVII.plaquettes }}</td>
              <td>{{ ficheFacteurVII.toPfa200ColEpi }}</td>
              <td>{{ ficheFacteurVII.toPfa200ColAdp }}</td>
              <td>{{ ficheFacteurVII.tp }}</td>
              <td>{{ ficheFacteurVII.tpMT }}</td>
              <td>{{ ficheFacteurVII.fibrinogene }}</td>
              <td>{{ ficheFacteurVII.tcaMT }}</td>
              <td>{{ ficheFacteurVII.facteurVII }}</td>
              <td>{{ ficheFacteurVII.dosageAutresFacteurs }}</td>
              <td>{{ { null: '', FAITE: 'FAITE', NONFAITE: 'NONFAITE' }[ficheFacteurVII.confirmationMoleculaire ?? 'null'] }}</td>
              <td>{{ ficheFacteurVII.mutationPresence }}</td>
              <td>
                {{
                  { null: '', HETEROZYGOTE: 'HETEROZYGOTE', HOMOZYGOTE: 'HOMOZYGOTE', AUCUNE: 'AUCUNE' }[
                    ficheFacteurVII.mutationType ?? 'null'
                  ]
                }}
              </td>
              <td>{{ ficheFacteurVII.epistaxis }}</td>
              <td>{{ ficheFacteurVII.frequenceEpistaxis }}</td>
              <td>{{ ficheFacteurVII.gingivorragies }}</td>
              <td>{{ { null: '', SPONTANE: 'SPONTANE', PROVOQUE: 'PROVOQUE' }[ficheFacteurVII.typeGingivorragies ?? 'null'] }}</td>
              <td>{{ ficheFacteurVII.frequenceGingivorragies }}</td>
              <td>{{ ficheFacteurVII.ecchymose }}</td>
              <td>{{ { null: '', SPONTANE: 'SPONTANE', PROVOQUE: 'PROVOQUE' }[ficheFacteurVII.typeEcchymose ?? 'null'] }}</td>
              <td>{{ ficheFacteurVII.frequenceEcchymose }}</td>
              <td>{{ ficheFacteurVII.menorragie }}</td>
              <td>{{ ficheFacteurVII.frequenceMenorragie }}</td>
              <td>{{ ficheFacteurVII.hematemese }}</td>
              <td>{{ ficheFacteurVII.frequenceHematemese }}</td>
              <td>{{ ficheFacteurVII.rectorragie }}</td>
              <td>{{ ficheFacteurVII.frequenceRectorragie }}</td>
              <td>{{ ficheFacteurVII.hematurie }}</td>
              <td>{{ ficheFacteurVII.frequenceHematurie }}</td>
              <td>{{ ficheFacteurVII.hematomeSousCutane }}</td>
              <td>{{ { null: '', SPONTANE: 'SPONTANE', PROVOQUE: 'PROVOQUE' }[ficheFacteurVII.typeHematomeSousCutane ?? 'null'] }}</td>
              <td>{{ ficheFacteurVII.frequenceHematomeSousCutane }}</td>
              <td>{{ ficheFacteurVII.hematomeMusculaire }}</td>
              <td>{{ ficheFacteurVII.siegeHematomeMusculaire }}</td>
              <td>{{ { null: '', SPONTANE: 'SPONTANE', PROVOQUE: 'PROVOQUE' }[ficheFacteurVII.typeHematomeMusculaire ?? 'null'] }}</td>
              <td>{{ ficheFacteurVII.frequenceHematomeMusculaire }}</td>
              <td>{{ ficheFacteurVII.hemarthrose }}</td>
              <td>{{ { null: '', SPONTANE: 'SPONTANE', PROVOQUE: 'PROVOQUE' }[ficheFacteurVII.typeHemarthrose ?? 'null'] }}</td>
              <td>{{ ficheFacteurVII.frequenceHemarthrose }}</td>
              <td>{{ ficheFacteurVII.saignementSNC }}</td>
              <td>{{ { null: '', SPONTANE: 'SPONTANE', PROVOQUE: 'PROVOQUE' }[ficheFacteurVII.typeSaignementSNC ?? 'null'] }}</td>
              <td>{{ ficheFacteurVII.frequenceSaignementSNC }}</td>
              <td>{{ ficheFacteurVII.ruptureKystesHemorragiques }}</td>
              <td>{{ ficheFacteurVII.hemorragiesPostChirurgicales }}</td>
              <td>{{ ficheFacteurVII.hemoperitone }}</td>
              <td>{{ ficheFacteurVII.accidentsThrombotiques }}</td>
              <td>{{ { null: '', VEINEUX: 'VEINEUX', ARTERIEL: 'ARTERIEL' }[ficheFacteurVII.typeAccidentsThrombotiques ?? 'null'] }}</td>
              <td>{{ ficheFacteurVII.hemorragieGrave }}</td>
              <td>
                {{
                  {
                    null: '',
                    DEGLOBULISATION: 'DEGLOBULISATION',
                    ETAT_DE_CHOC: 'ETAT_DE_CHOC',
                    PAR_LA_LOCALISATION: 'PAR_LA_LOCALISATION',
                  }[ficheFacteurVII.typeHemorragieGrave ?? 'null']
                }}
              </td>
              <td>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheFacteurVII.chirurgiePrepare ?? 'null'] }}</td>
              <td>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheFacteurVII.suiteOperatoireHemorragique ?? 'null'] }}</td>
              <td>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheFacteurVII.circoncisionPrepare ?? 'null'] }}</td>
              <td>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheFacteurVII.suiteOperatoireCirconcision ?? 'null'] }}</td>
              <td>{{ ficheFacteurVII.ageCirconcision }}</td>
              <td>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheFacteurVII.facteurVIIRecombinant ?? 'null'] }}</td>
              <td>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheFacteurVII.plasmaFraisCongele ?? 'null'] }}</td>
              <td>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheFacteurVII.cryoprecipite ?? 'null'] }}</td>
              <td>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheFacteurVII.culotsPlaquettaires ?? 'null'] }}</td>
              <td>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheFacteurVII.dicynone ?? 'null'] }}</td>
              <td>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheFacteurVII.exacyl ?? 'null'] }}</td>
              <td>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheFacteurVII.traitementMartial ?? 'null'] }}</td>
              <td>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheFacteurVII.traitementOestroprogestatif ?? 'null'] }}</td>
              <td>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheFacteurVII.transfusionCGR ?? 'null'] }}</td>
              <td>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheFacteurVII.inhibiteurs ?? 'null'] }}</td>
              <td>{{ ficheFacteurVII.inhibiteurNeutralisant }}</td>
              <td>{{ ficheFacteurVII.titreUB }}</td>
              <td>{{ ficheFacteurVII.inhibiteurNonNeutralisant }}</td>
              <td>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheFacteurVII.infectionsVirales ?? 'null'] }}</td>
              <td>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheFacteurVII.thrombose ?? 'null'] }}</td>
              <td>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheFacteurVII.reactionAllergique ?? 'null'] }}</td>
              <td>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheFacteurVII.alloImmunisation ?? 'null'] }}</td>
              <td>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheFacteurVII.adhesionTherapeutique ?? 'null'] }}</td>
              <td>{{ ficheFacteurVII.causeNonAdhesion }}</td>
              <td>
                {{
                  { null: '', CHOMEUR: 'CHOMEUR', TRAVAILLE: 'TRAVAILLE', SCOLARISE: 'SCOLARISE', PRESCOLARISE: 'PRESCOLARISE' }[
                    ficheFacteurVII.vieSociale ?? 'null'
                  ]
                }}
              </td>
              <td>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheFacteurVII.mariage ?? 'null'] }}</td>
              <td>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheFacteurVII.enfants ?? 'null'] }}</td>
              <td>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheFacteurVII.activitePhysique ?? 'null'] }}</td>
              <td>{{ ficheFacteurVII.typeActivitePhysique }}</td>
              <td>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheFacteurVII.sequelles ?? 'null'] }}</td>
              <td>{{ ficheFacteurVII.typeSequelles }}</td>
              <td>{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ficheFacteurVII.patientDecede ?? 'null'] }}</td>
              <td>{{ ficheFacteurVII.dateDeces | formatMediumDate }}</td>
              <td>{{ ficheFacteurVII.ageDeces }}</td>
              <td>{{ ficheFacteurVII.hemorragieSnc }}</td>
              <td>{{ ficheFacteurVII.hemorragieAutreQueSnc }}</td>
              <td>{{ ficheFacteurVII.hiv }}</td>
              <td>{{ ficheFacteurVII.autreInfection }}</td>
              <td>{{ ficheFacteurVII.evenementThromboembolique }}</td>
              <td>{{ ficheFacteurVII.cancer }}</td>
              <td>{{ ficheFacteurVII.covid19 }}</td>
              <td>{{ ficheFacteurVII.inconnue }}</td>
              <td>{{ ficheFacteurVII.autreEvenement }}</td>
              <td>{{ ficheFacteurVII.autreEvenementDetails }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/fiche-facteur-vii', ficheFacteurVII.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">Voir</span>
                  </a>

                  <a
                    [routerLink]="['/fiche-facteur-vii', ficheFacteurVII.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(ficheFacteurVII)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (ficheFacteurVIIS && ficheFacteurVIIS.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
