<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-fiche-hemophilie-heading" data-cy="FicheHemophilieCreateUpdateHeading">Créer ou éditer une Fiche Hemophilie</h2>
            <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }
              
      <div class="accordion" id="ficheAccordion">
        <!-- Accordéon Section 1: Identification -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingIdentification">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseIdentification"
              aria-expanded="true"
              aria-controls="collapseIdentification"
            >
              Identification
            </button>
          </h2>
          <div
            id="collapseIdentification"
            class="accordion-collapse collapse show"
            aria-labelledby="headingIdentification"
            data-bs-parent="#ficheAccordion"
          >
            <div class="accordion-body">
              <!-- Champs pour la section Identification -->
              <div class="mb-3">
                <label class="form-label" for="field_dossierNumber">Numéro dossier</label>
                <input type="text" class="form-control" id="field_dossierNumber" formControlName="dossierNumber" />
              </div>
              <div class="mb-3">
                <label class="form-label" for="field_ordreNumber">Numéro d'ordre</label>
                <input type="text" class="form-control" id="field_ordreNumber" formControlName="ordreNumber" />
              </div>


              @let prenomRef = editForm.get('prenom')!;
              <div class="mb-3">
                <label class="form-label" for="field_prenom">Prenom</label>
                <input type="text" class="form-control" name="prenom" id="field_prenom" data-cy="prenom" formControlName="prenom" />
                @if (prenomRef.invalid && (prenomRef.dirty || prenomRef.touched)) {
                  <div>
                    @if (editForm.get('prenom')?.errors?.required) {
                      <small class="form-text text-danger">Ce champ est obligatoire.</small>
                    }
                    @if (editForm.get('prenom')?.errors?.maxlength) {
                      <small class="form-text text-danger">Ce champ doit faire moins de 25 caractères.</small>
                    }
                  </div>
                }
              </div>
      
              @let nomRef = editForm.get('nom')!;
              <div class="mb-3">
                <label class="form-label" for="field_nom">Nom</label>
                <input type="text" class="form-control" name="nom" id="field_nom" data-cy="nom" formControlName="nom" />
                @if (nomRef.invalid && (nomRef.dirty || nomRef.touched)) {
                  <div>
                    @if (editForm.get('nom')?.errors?.required) {
                      <small class="form-text text-danger">Ce champ est obligatoire.</small>
                    }
                    @if (editForm.get('nom')?.errors?.maxlength) {
                      <small class="form-text text-danger">Ce champ doit faire moins de 25 caractères.</small>
                    }
                  </div>
                }
              </div>
      
              @let nomJeuneFilleRef = editForm.get('nomJeuneFille')!;
              <div class="mb-3">
                <label class="form-label" for="field_nomJeuneFille">Nom Jeune Fille</label>
                <input
                  type="text"
                  class="form-control"
                  name="nomJeuneFille"
                  id="field_nomJeuneFille"
                  data-cy="nomJeuneFille"
                  formControlName="nomJeuneFille"
                />
                @if (nomJeuneFilleRef.invalid && (nomJeuneFilleRef.dirty || nomJeuneFilleRef.touched)) {
                  <div>
                    @if (editForm.get('nomJeuneFille')?.errors?.maxlength) {
                      <small class="form-text text-danger">Ce champ doit faire moins de 25 caractères.</small>
                    }
                  </div>
                }
              </div>

              @let professionRef = editForm.get('profession')!;
              <div class="mb-3">
                <label class="form-label" for="field_profession">Profession</label>
                <input
                  type="text"
                  class="form-control"
                  name="profession"
                  id="field_profession"
                  data-cy="profession"
                  formControlName="profession"
                />
                @if (professionRef.invalid && (professionRef.dirty || professionRef.touched)) {
                  <div>
                    @if (editForm.get('profession')?.errors?.maxlength) {
                      <small class="form-text text-danger">Ce champ doit faire moins de 25 caractères.</small>
                    }
                  </div>
                }
              </div>

              @let etatCivilRef = editForm.get('etatCivil')!;
              <div class="mb-3">
                <label class="form-label" for="field_etatCivil">Etat Civil</label>
                <select class="form-control" name="etatCivil" formControlName="etatCivil" id="field_etatCivil" data-cy="etatCivil">
                  <option [ngValue]="null"></option>
                  @for (civilStatus of civilStatusValues; track $index) {
                    <option [value]="civilStatus">
                      {{ { null: '', CELIBATAIRE: 'CELIBATAIRE', MARIE: 'MARIE', DIVORCE: 'DIVORCE', NP: 'NP' }[civilStatus] }}
                    </option>
                  }
                </select>
                @if (etatCivilRef.invalid && (etatCivilRef.dirty || etatCivilRef.touched)) {
                  <div>
                    @if (editForm.get('etatCivil')?.errors?.required) {
                      <small class="form-text text-danger">Ce champ est obligatoire.</small>
                    }
                  </div>
                }
              </div>

              @let couvertureSocialeRef = editForm.get('couvertureSociale')!;
              <div class="mb-3">
                <label class="form-label" for="field_couvertureSociale">Couverture Sociale</label>
                <select
                  class="form-control"
                  name="couvertureSociale"
                  formControlName="couvertureSociale"
                  id="field_couvertureSociale"
                  data-cy="couvertureSociale"
                >
                  <option [ngValue]="null"></option>
                  @for (couvertureSociale of couvertureSocialeValues; track $index) {
                    <option [value]="couvertureSociale">
                      {{ { null: '', CNAM: 'CNAM', INDIGENT: 'INDIGENT', NP: 'NP' }[couvertureSociale] }}
                    </option>
                  }
                </select>
                @if (couvertureSocialeRef.invalid && (couvertureSocialeRef.dirty || couvertureSocialeRef.touched)) {
                  <div>
                    @if (editForm.get('couvertureSociale')?.errors?.required) {
                      <small class="form-text text-danger">Ce champ est obligatoire.</small>
                    }
                  </div>
                }
              </div>

              @let sexeRef = editForm.get('sexe')!;
              <div class="mb-3">
                <label class="form-label" for="field_sexe">Sexe</label>
                <select class="form-control" name="sexe" formControlName="sexe" id="field_sexe" data-cy="sexe">
                  <option [ngValue]="null"></option>
                  @for (gender of genderValues; track $index) {
                    <option [value]="gender">{{ { null: '', MASCULIN: 'MASCULIN', FEMININ: 'FEMININ' }[gender] }}</option>
                  }
                </select>
                @if (sexeRef.invalid && (sexeRef.dirty || sexeRef.touched)) {
                  <div>
                    @if (editForm.get('sexe')?.errors?.required) {
                      <small class="form-text text-danger">Ce champ est obligatoire.</small>
                    }
                  </div>
                }
              </div>


              <div class="mb-3">
                <label class="form-label" for="field_dateNaissance">Date Naissance</label>
                <div class="input-group">
                  <input
                    id="field_dateNaissance"
                    data-cy="dateNaissance"
                    type="text"
                    class="form-control"
                    name="dateNaissance"
                    ngbDatepicker
                    #dateNaissanceDp="ngbDatepicker"
                    formControlName="dateNaissance"
                  />
                  <button type="button" class="btn btn-secondary" (click)="dateNaissanceDp.toggle()">
                    <fa-icon icon="calendar-alt"></fa-icon>
                  </button>
                </div>
              </div>
      
              <div class="mb-3">
                <label class="form-label" for="field_ageActuel">Age Actuel</label>
                <input type="number" class="form-control" name="ageActuel" id="field_ageActuel" data-cy="ageActuel" formControlName="ageActuel" />
              </div>
      
              <div class="mb-3">
                <label class="form-label" for="field_origine">Origine</label>
                <select class="form-control" name="origine" formControlName="origine" id="field_origine" data-cy="origine">
                  <option [ngValue]="null"></option>
                  @for (region of regionValues; track $index) {
                    <option [value]="region">
                      {{
                        {
                          null: '',
                          SFAX: 'SFAX',
                          GABES: 'GABES',
                          GAFSA: 'GAFSA',
                          KEBILI: 'KEBILI',
                          TOZEUR: 'TOZEUR',
                          MEDNINE: 'MEDNINE',
                          TATAOUINE: 'TATAOUINE',
                          SBZ: 'SBZ',
                          KASSERINE: 'KASSERINE',
                          MAHDIA: 'MAHDIA',
                          KAIRAOUANE: 'KAIRAOUANE',
                          MONASTIR: 'MONASTIR',
                          SOUSSE: 'SOUSSE',
                          AUTRE: 'AUTRE',
                        }[region]
                      }}
                    </option>
                  }
                </select>
              </div>
      
              @let autreOrigineRef = editForm.get('autreOrigine')!;
              <div class="mb-3">
                <label class="form-label" for="field_autreOrigine">Autre Origine</label>
                <input
                  type="text"
                  class="form-control"
                  name="autreOrigine"
                  id="field_autreOrigine"
                  data-cy="autreOrigine"
                  formControlName="autreOrigine"
                />
                @if (autreOrigineRef.invalid && (autreOrigineRef.dirty || autreOrigineRef.touched)) {
                  <div>
                    @if (editForm.get('autreOrigine')?.errors?.maxlength) {
                      <small class="form-text text-danger">Ce champ doit faire moins de 25 caractères.</small>
                    }
                  </div>
                }
              </div>
      
              @let adresseRef = editForm.get('adresse')!;
              <div class="mb-3">
                <label class="form-label" for="field_adresse">Adresse</label>
                <input type="text" class="form-control" name="adresse" id="field_adresse" data-cy="adresse" formControlName="adresse" />
                @if (adresseRef.invalid && (adresseRef.dirty || adresseRef.touched)) {
                  <div>
                    @if (editForm.get('adresse')?.errors?.maxlength) {
                      <small class="form-text text-danger">Ce champ doit faire moins de 25 caractères.</small>
                    }
                  </div>
                }
              </div>
      
              @let telephoneRef = editForm.get('telephone')!;
              <div class="mb-3">
                <label class="form-label" for="field_telephone">Telephone</label>
                <input type="text" class="form-control" name="telephone" id="field_telephone" data-cy="telephone" formControlName="telephone" />
                @if (telephoneRef.invalid && (telephoneRef.dirty || telephoneRef.touched)) {
                  <div>
                    @if (editForm.get('telephone')?.errors?.maxlength) {
                      <small class="form-text text-danger">Ce champ doit faire moins de 20 caractères.</small>
                    }
                  </div>
                }
              </div>
      
              @let prenomPereRef = editForm.get('prenomPere')!;
              <div class="mb-3">
                <label class="form-label" for="field_prenomPere">Prenom Pere</label>
                <input
                  type="text"
                  class="form-control"
                  name="prenomPere"
                  id="field_prenomPere"
                  data-cy="prenomPere"
                  formControlName="prenomPere"
                />
                @if (prenomPereRef.invalid && (prenomPereRef.dirty || prenomPereRef.touched)) {
                  <div>
                    @if (editForm.get('prenomPere')?.errors?.maxlength) {
                      <small class="form-text text-danger">Ce champ doit faire moins de 25 caractères.</small>
                    }
                  </div>
                }
              </div>


              @let professionPereRef = editForm.get('professionPere')!;
              <div class="mb-3">
                <label class="form-label" for="field_professionPere">Profession Pere</label>
                <input
                  type="text"
                  class="form-control"
                  name="professionPere"
                  id="field_professionPere"
                  data-cy="professionPere"
                  formControlName="professionPere"
                />
                @if (professionPereRef.invalid && (professionPereRef.dirty || professionPereRef.touched)) {
                  <div>
                    @if (editForm.get('professionPere')?.errors?.maxlength) {
                      <small class="form-text text-danger">Ce champ doit faire moins de 25 caractères.</small>
                    }
                  </div>
                }
              </div>
                            
              @let nomPrenomMereRef = editForm.get('nomPrenomMere')!;
              <div class="mb-3">
                <label class="form-label" for="field_nomPrenomMere">Nom Prenom Mere</label>
                <input
                  type="text"
                  class="form-control"
                  name="nomPrenomMere"
                  id="field_nomPrenomMere"
                  data-cy="nomPrenomMere"
                  formControlName="nomPrenomMere"
                />
                @if (nomPrenomMereRef.invalid && (nomPrenomMereRef.dirty || nomPrenomMereRef.touched)) {
                  <div>
                    @if (editForm.get('nomPrenomMere')?.errors?.maxlength) {
                      <small class="form-text text-danger">Ce champ doit faire moins de 25 caractères.</small>
                    }
                  </div>
                }
              </div>
      
              @let professionMereRef = editForm.get('professionMere')!;
              <div class="mb-3">
                <label class="form-label" for="field_professionMere">Profession Mere</label>
                <input
                  type="text"
                  class="form-control"
                  name="professionMere"
                  id="field_professionMere"
                  data-cy="professionMere"
                  formControlName="professionMere"
                />
                @if (professionMereRef.invalid && (professionMereRef.dirty || professionMereRef.touched)) {
                  <div>
                    @if (editForm.get('professionMere')?.errors?.maxlength) {
                      <small class="form-text text-danger">Ce champ doit faire moins de 25 caractères.</small>
                    }
                  </div>
                }
              </div>
      
              @let medecinTraitantRef = editForm.get('medecinTraitant')!;
              <div class="mb-3">
                <label class="form-label" for="field_medecinTraitant">Medecin Traitant</label>
                <input
                  type="text"
                  class="form-control"
                  name="medecinTraitant"
                  id="field_medecinTraitant"
                  data-cy="medecinTraitant"
                  formControlName="medecinTraitant"
                />
                @if (medecinTraitantRef.invalid && (medecinTraitantRef.dirty || medecinTraitantRef.touched)) {
                  <div>
                    @if (editForm.get('medecinTraitant')?.errors?.maxlength) {
                      <small class="form-text text-danger">Ce champ doit faire moins de 25 caractères.</small>
                    }
                  </div>
                }
              </div>
      
              @let serviceOrigineRef = editForm.get('serviceOrigine')!;
              <div class="mb-3">
                <label class="form-label" for="field_serviceOrigine">Service Origine</label>
                <input
                  type="text"
                  class="form-control"
                  name="serviceOrigine"
                  id="field_serviceOrigine"
                  data-cy="serviceOrigine"
                  formControlName="serviceOrigine"
                />
                @if (serviceOrigineRef.invalid && (serviceOrigineRef.dirty || serviceOrigineRef.touched)) {
                  <div>
                    @if (editForm.get('serviceOrigine')?.errors?.maxlength) {
                      <small class="form-text text-danger">Ce champ doit faire moins de 25 caractères.</small>
                    }
                  </div>
                }
              </div>
      
              @let biologisteResponsableDgRef = editForm.get('biologisteResponsableDg')!;
              <div class="mb-3">
                <label class="form-label" for="field_biologisteResponsableDg">Biologiste Responsable Dg</label>
                <input
                  type="text"
                  class="form-control"
                  name="biologisteResponsableDg"
                  id="field_biologisteResponsableDg"
                  data-cy="biologisteResponsableDg"
                  formControlName="biologisteResponsableDg"
                />
                @if (biologisteResponsableDgRef.invalid && (biologisteResponsableDgRef.dirty || biologisteResponsableDgRef.touched)) {
                  <div>
                    @if (editForm.get('biologisteResponsableDg')?.errors?.maxlength) {
                      <small class="form-text text-danger">Ce champ doit faire moins de 25 caractères.</small>
                    }
                  </div>
                }
              </div>
      
              @let diagnosticRef = editForm.get('diagnostic')!;
              <div class="mb-3">
                <label class="form-label" for="field_diagnostic">Diagnostic</label>
                <select class="form-control" name="diagnostic" formControlName="diagnostic" id="field_diagnostic" data-cy="diagnostic">
                  <option [ngValue]="null"></option>
                  @for (diagnosticType of diagnosticTypeValues; track $index) {
                    <option [value]="diagnosticType">
                      {{
                        {
                          null: '',
                          HEMOPHILIE: 'HEMOPHILIE',
                          WILLEBRAND: 'WILLEBRAND',
                          THROMBOPATHIE: 'THROMBOPATHIE',
                          DEFICIT_FACTEUR_VII: 'DEFICIT_FACTEUR_VII',
                          DEFICIT_FACTEUR_XI: 'DEFICIT_FACTEUR_XI',
                          DEFICIT_FACTEUR_XIII: 'DEFICIT_FACTEUR_XIII',
                          DEFICIT_COMBINE: 'DEFICIT_COMBINE',
                          AUTRE: 'AUTRE',
                        }[diagnosticType]
                      }}
                    </option>
                  }
                </select>
                @if (diagnosticRef.invalid && (diagnosticRef.dirty || diagnosticRef.touched)) {
                  <div>
                    @if (editForm.get('diagnostic')?.errors?.required) {
                      <small class="form-text text-danger">Ce champ est obligatoire.</small>
                    }
                  </div>
                }
              </div>
      
              @let autreDiagnosticRef = editForm.get('autreDiagnostic')!;
              <div class="mb-3">
                <label class="form-label" for="field_autreDiagnostic">Autre Diagnostic</label>
                <input
                  type="text"
                  class="form-control"
                  name="autreDiagnostic"
                  id="field_autreDiagnostic"
                  data-cy="autreDiagnostic"
                  formControlName="autreDiagnostic"
                />
                @if (autreDiagnosticRef.invalid && (autreDiagnosticRef.dirty || autreDiagnosticRef.touched)) {
                  <div>
                    @if (editForm.get('autreDiagnostic')?.errors?.maxlength) {
                      <small class="form-text text-danger">Ce champ doit faire moins de 25 caractères.</small>
                    }
                  </div>
                }
              </div>
      
              <div class="mb-3">
                <label class="form-label" for="field_anneeDiagnostic">Annee Diagnostic</label>
                <input
                  type="number"
                  class="form-control"
                  name="anneeDiagnostic"
                  id="field_anneeDiagnostic"
                  data-cy="anneeDiagnostic"
                  formControlName="anneeDiagnostic"
                />
              </div>
      
              <div class="mb-3">
                <label class="form-label" for="field_consentementRegistre">Consentement Registre</label>
                <select
                  class="form-control"
                  name="consentementRegistre"
                  formControlName="consentementRegistre"
                  id="field_consentementRegistre"
                  data-cy="consentementRegistre"
                >
                  <option [ngValue]="null"></option>
                  @for (ouiNonNP of ouiNonNPValues; track $index) {
                    <option [value]="ouiNonNP">{{ { null: '', OUI: 'OUI', NON: 'NON', NP: 'NP' }[ouiNonNP] }}</option>
                  }
                </select>
              </div>
      
              <div class="mb-3">
                <label class="form-label" for="field_dateEnregistrementRegistre">Date Enregistrement Registre</label>
                <div class="input-group">
                  <input
                    id="field_dateEnregistrementRegistre"
                    data-cy="dateEnregistrementRegistre"
                    type="text"
                    class="form-control"
                    name="dateEnregistrementRegistre"
                    ngbDatepicker
                    #dateEnregistrementRegistreDp="ngbDatepicker"
                    formControlName="dateEnregistrementRegistre"
                  />
                  <button type="button" class="btn btn-secondary" (click)="dateEnregistrementRegistreDp.toggle()">
                    <fa-icon icon="calendar-alt"></fa-icon>
                  </button>
                </div>
              </div>

            </div>
          </div>
        </div>

        <!-- Accordéon Section 2: Diagnostic -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingDiagnostic">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseDiagnostic"
              aria-expanded="false"
              aria-controls="collapseDiagnostic"
            >
              Diagnostic
            </button>
          </h2>
          <div
            id="collapseDiagnostic"
            class="accordion-collapse collapse"
            aria-labelledby="headingDiagnostic"
            data-bs-parent="#ficheAccordion"
          >
            <div class="accordion-body">
              <!-- Contenu pour la section Diagnostic -->











        @let dossierNumberRef = editForm.get('dossierNumber')!;
        <div class="mb-3">
          <label class="form-label" for="field_dossierNumber">Dossier Number</label>
          <input
            type="text"
            class="form-control"
            name="dossierNumber"
            id="field_dossierNumber"
            data-cy="dossierNumber"
            formControlName="dossierNumber"
          />
          @if (dossierNumberRef.invalid && (dossierNumberRef.dirty || dossierNumberRef.touched)) {
            <div>
              @if (editForm.get('dossierNumber')?.errors?.required) {
                <small class="form-text text-danger">Ce champ est obligatoire.</small>
              }
              @if (editForm.get('dossierNumber')?.errors?.maxlength) {
                <small class="form-text text-danger">Ce champ doit faire moins de 25 caractères.</small>
              }
            </div>
          }
        </div>

        @let ordreNumberRef = editForm.get('ordreNumber')!;
        <div class="mb-3">
          <label class="form-label" for="field_ordreNumber">Ordre Number</label>
          <input
            type="text"
            class="form-control"
            name="ordreNumber"
            id="field_ordreNumber"
            data-cy="ordreNumber"
            formControlName="ordreNumber"
          />
          @if (ordreNumberRef.invalid && (ordreNumberRef.dirty || ordreNumberRef.touched)) {
            <div>
              @if (editForm.get('ordreNumber')?.errors?.maxlength) {
                <small class="form-text text-danger">Ce champ doit faire moins de 25 caractères.</small>
              }
            </div>
          }
        </div>

        @let indexNumberRef = editForm.get('indexNumber')!;
        <div class="mb-3">
          <label class="form-label" for="field_indexNumber">Index Number</label>
          <input
            type="text"
            class="form-control"
            name="indexNumber"
            id="field_indexNumber"
            data-cy="indexNumber"
            formControlName="indexNumber"
          />
          @if (indexNumberRef.invalid && (indexNumberRef.dirty || indexNumberRef.touched)) {
            <div>
              @if (editForm.get('indexNumber')?.errors?.maxlength) {
                <small class="form-text text-danger">Ce champ doit faire moins de 25 caractères.</small>
              }
            </div>
          }
        </div>

        @let degreParenteConsanguinsRef = editForm.get('degreParenteConsanguins')!;
        <div class="mb-3">
          <label class="form-label" for="field_degreParenteConsanguins">Degre Parente Consanguins</label>
          <input
            type="text"
            class="form-control"
            name="degreParenteConsanguins"
            id="field_degreParenteConsanguins"
            data-cy="degreParenteConsanguins"
            formControlName="degreParenteConsanguins"
          />
          @if (degreParenteConsanguinsRef.invalid && (degreParenteConsanguinsRef.dirty || degreParenteConsanguinsRef.touched)) {
            <div>
              @if (editForm.get('degreParenteConsanguins')?.errors?.maxlength) {
                <small class="form-text text-danger">Ce champ doit faire moins de 25 caractères.</small>
              }
            </div>
          }
        </div>

        @let degreParenteCasSimilairesRef = editForm.get('degreParenteCasSimilaires')!;
        <div class="mb-3">
          <label class="form-label" for="field_degreParenteCasSimilaires">Degre Parente Cas Similaires</label>
          <input
            type="text"
            class="form-control"
            name="degreParenteCasSimilaires"
            id="field_degreParenteCasSimilaires"
            data-cy="degreParenteCasSimilaires"
            formControlName="degreParenteCasSimilaires"
          />
          @if (degreParenteCasSimilairesRef.invalid && (degreParenteCasSimilairesRef.dirty || degreParenteCasSimilairesRef.touched)) {
            <div>
              @if (editForm.get('degreParenteCasSimilaires')?.errors?.maxlength) {
                <small class="form-text text-danger">Ce champ doit faire moins de 25 caractères.</small>
              }
            </div>
          }
        </div>

        @let typeHemorragiesCutaneoMuqueusesRef = editForm.get('typeHemorragiesCutaneoMuqueuses')!;
        <div class="mb-3">
          <label class="form-label" for="field_typeHemorragiesCutaneoMuqueuses">Type Hemorragies Cutaneo Muqueuses</label>
          <input
            type="text"
            class="form-control"
            name="typeHemorragiesCutaneoMuqueuses"
            id="field_typeHemorragiesCutaneoMuqueuses"
            data-cy="typeHemorragiesCutaneoMuqueuses"
            formControlName="typeHemorragiesCutaneoMuqueuses"
          />
          @if (
            typeHemorragiesCutaneoMuqueusesRef.invalid &&
            (typeHemorragiesCutaneoMuqueusesRef.dirty || typeHemorragiesCutaneoMuqueusesRef.touched)
          ) {
            <div>
              @if (editForm.get('typeHemorragiesCutaneoMuqueuses')?.errors?.maxlength) {
                <small class="form-text text-danger">Ce champ doit faire moins de 25 caractères.</small>
              }
            </div>
          }
        </div>

        @let circonstanceHematomeSuperficielRef = editForm.get('circonstanceHematomeSuperficiel')!;
        <div class="mb-3">
          <label class="form-label" for="field_circonstanceHematomeSuperficiel">Circonstance Hematome Superficiel</label>
          <input
            type="text"
            class="form-control"
            name="circonstanceHematomeSuperficiel"
            id="field_circonstanceHematomeSuperficiel"
            data-cy="circonstanceHematomeSuperficiel"
            formControlName="circonstanceHematomeSuperficiel"
          />
          @if (
            circonstanceHematomeSuperficielRef.invalid &&
            (circonstanceHematomeSuperficielRef.dirty || circonstanceHematomeSuperficielRef.touched)
          ) {
            <div>
              @if (editForm.get('circonstanceHematomeSuperficiel')?.errors?.maxlength) {
                <small class="form-text text-danger">Ce champ doit faire moins de 25 caractères.</small>
              }
            </div>
          }
        </div>

        @let siegeHematomeSuperficielRef = editForm.get('siegeHematomeSuperficiel')!;
        <div class="mb-3">
          <label class="form-label" for="field_siegeHematomeSuperficiel">Siege Hematome Superficiel</label>
          <input
            type="text"
            class="form-control"
            name="siegeHematomeSuperficiel"
            id="field_siegeHematomeSuperficiel"
            data-cy="siegeHematomeSuperficiel"
            formControlName="siegeHematomeSuperficiel"
          />
          @if (siegeHematomeSuperficielRef.invalid && (siegeHematomeSuperficielRef.dirty || siegeHematomeSuperficielRef.touched)) {
            <div>
              @if (editForm.get('siegeHematomeSuperficiel')?.errors?.maxlength) {
                <small class="form-text text-danger">Ce champ doit faire moins de 25 caractères.</small>
              }
            </div>
          }
        </div>

        @let circonstanceHematomePsoasRef = editForm.get('circonstanceHematomePsoas')!;
        <div class="mb-3">
          <label class="form-label" for="field_circonstanceHematomePsoas">Circonstance Hematome Psoas</label>
          <input
            type="text"
            class="form-control"
            name="circonstanceHematomePsoas"
            id="field_circonstanceHematomePsoas"
            data-cy="circonstanceHematomePsoas"
            formControlName="circonstanceHematomePsoas"
          />
          @if (circonstanceHematomePsoasRef.invalid && (circonstanceHematomePsoasRef.dirty || circonstanceHematomePsoasRef.touched)) {
            <div>
              @if (editForm.get('circonstanceHematomePsoas')?.errors?.maxlength) {
                <small class="form-text text-danger">Ce champ doit faire moins de 25 caractères.</small>
              }
            </div>
          }
        </div>

        @let circonstanceAccidentsHemorragiquesGravesRef = editForm.get('circonstanceAccidentsHemorragiquesGraves')!;
        <div class="mb-3">
          <label class="form-label" for="field_circonstanceAccidentsHemorragiquesGraves">Circonstance Accidents Hemorragiques Graves</label>
          <input
            type="text"
            class="form-control"
            name="circonstanceAccidentsHemorragiquesGraves"
            id="field_circonstanceAccidentsHemorragiquesGraves"
            data-cy="circonstanceAccidentsHemorragiquesGraves"
            formControlName="circonstanceAccidentsHemorragiquesGraves"
          />
          @if (
            circonstanceAccidentsHemorragiquesGravesRef.invalid &&
            (circonstanceAccidentsHemorragiquesGravesRef.dirty || circonstanceAccidentsHemorragiquesGravesRef.touched)
          ) {
            <div>
              @if (editForm.get('circonstanceAccidentsHemorragiquesGraves')?.errors?.maxlength) {
                <small class="form-text text-danger">Ce champ doit faire moins de 25 caractères.</small>
              }
            </div>
          }
        </div>

        @let typeInterventionChirurgicaleRef = editForm.get('typeInterventionChirurgicale')!;
        <div class="mb-3">
          <label class="form-label" for="field_typeInterventionChirurgicale">Type Intervention Chirurgicale</label>
          <input
            type="text"
            class="form-control"
            name="typeInterventionChirurgicale"
            id="field_typeInterventionChirurgicale"
            data-cy="typeInterventionChirurgicale"
            formControlName="typeInterventionChirurgicale"
          />
          @if (
            typeInterventionChirurgicaleRef.invalid && (typeInterventionChirurgicaleRef.dirty || typeInterventionChirurgicaleRef.touched)
          ) {
            <div>
              @if (editForm.get('typeInterventionChirurgicale')?.errors?.maxlength) {
                <small class="form-text text-danger">Ce champ doit faire moins de 25 caractères.</small>
              }
            </div>
          }
        </div>

        @let causePriseEnChargeRef = editForm.get('causePriseEnCharge')!;
        <div class="mb-3">
          <label class="form-label" for="field_causePriseEnCharge">Cause Prise En Charge</label>
          <input
            type="text"
            class="form-control"
            name="causePriseEnCharge"
            id="field_causePriseEnCharge"
            data-cy="causePriseEnCharge"
            formControlName="causePriseEnCharge"
          />
          @if (causePriseEnChargeRef.invalid && (causePriseEnChargeRef.dirty || causePriseEnChargeRef.touched)) {
            <div>
              @if (editForm.get('causePriseEnCharge')?.errors?.maxlength) {
                <small class="form-text text-danger">Ce champ doit faire moins de 25 caractères.</small>
              }
            </div>
          }
        </div>

        @let posologieITIRef = editForm.get('posologieITI')!;
        <div class="mb-3">
          <label class="form-label" for="field_posologieITI">Posologie ITI</label>
          <input
            type="text"
            class="form-control"
            name="posologieITI"
            id="field_posologieITI"
            data-cy="posologieITI"
            formControlName="posologieITI"
          />
          @if (posologieITIRef.invalid && (posologieITIRef.dirty || posologieITIRef.touched)) {
            <div>
              @if (editForm.get('posologieITI')?.errors?.maxlength) {
                <small class="form-text text-danger">Ce champ doit faire moins de 25 caractères.</small>
              }
            </div>
          }
        </div>

        @let dureeITIRef = editForm.get('dureeITI')!;
        <div class="mb-3">
          <label class="form-label" for="field_dureeITI">Duree ITI</label>
          <input type="text" class="form-control" name="dureeITI" id="field_dureeITI" data-cy="dureeITI" formControlName="dureeITI" />
          @if (dureeITIRef.invalid && (dureeITIRef.dirty || dureeITIRef.touched)) {
            <div>
              @if (editForm.get('dureeITI')?.errors?.maxlength) {
                <small class="form-text text-danger">Ce champ doit faire moins de 25 caractères.</small>
              }
            </div>
          }
        </div>

        @let causeNonObservanceITIRef = editForm.get('causeNonObservanceITI')!;
        <div class="mb-3">
          <label class="form-label" for="field_causeNonObservanceITI">Cause Non Observance ITI</label>
          <input
            type="text"
            class="form-control"
            name="causeNonObservanceITI"
            id="field_causeNonObservanceITI"
            data-cy="causeNonObservanceITI"
            formControlName="causeNonObservanceITI"
          />
          @if (causeNonObservanceITIRef.invalid && (causeNonObservanceITIRef.dirty || causeNonObservanceITIRef.touched)) {
            <div>
              @if (editForm.get('causeNonObservanceITI')?.errors?.maxlength) {
                <small class="form-text text-danger">Ce champ doit faire moins de 25 caractères.</small>
              }
            </div>
          }
        </div>

        @let typeHandicapRef = editForm.get('typeHandicap')!;
        <div class="mb-3">
          <label class="form-label" for="field_typeHandicap">Type Handicap</label>
          <input
            type="text"
            class="form-control"
            name="typeHandicap"
            id="field_typeHandicap"
            data-cy="typeHandicap"
            formControlName="typeHandicap"
          />
          @if (typeHandicapRef.invalid && (typeHandicapRef.dirty || typeHandicapRef.touched)) {
            <div>
              @if (editForm.get('typeHandicap')?.errors?.maxlength) {
                <small class="form-text text-danger">Ce champ doit faire moins de 25 caractères.</small>
              }
            </div>
          }
        </div>

        @let typeActiviteSportiveRef = editForm.get('typeActiviteSportive')!;
        <div class="mb-3">
          <label class="form-label" for="field_typeActiviteSportive">Type Activite Sportive</label>
          <input
            type="text"
            class="form-control"
            name="typeActiviteSportive"
            id="field_typeActiviteSportive"
            data-cy="typeActiviteSportive"
            formControlName="typeActiviteSportive"
          />
          @if (typeActiviteSportiveRef.invalid && (typeActiviteSportiveRef.dirty || typeActiviteSportiveRef.touched)) {
            <div>
              @if (editForm.get('typeActiviteSportive')?.errors?.maxlength) {
                <small class="form-text text-danger">Ce champ doit faire moins de 25 caractères.</small>
              }
            </div>
          }
        </div>

        @let causeDateDecesRef = editForm.get('causeDateDeces')!;
        <div class="mb-3">
          <label class="form-label" for="field_causeDateDeces">Cause Date Deces</label>
          <input
            type="text"
            class="form-control"
            name="causeDateDeces"
            id="field_causeDateDeces"
            data-cy="causeDateDeces"
            formControlName="causeDateDeces"
          />
          @if (causeDateDecesRef.invalid && (causeDateDecesRef.dirty || causeDateDecesRef.touched)) {
            <div>
              @if (editForm.get('causeDateDeces')?.errors?.maxlength) {
                <small class="form-text text-danger">Ce champ doit faire moins de 25 caractères.</small>
              }
            </div>
          }
        </div>
      </div>

                        </div>
          </div>
        </div>




        <!-- Accordéon Section 3: Circonstance de découverte -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingCirconstanceDecouverte">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseCirconstanceDecouverte"
              aria-expanded="false"
              aria-controls="collapseCirconstanceDecouverte"
            >
            Circonstance Decouverte
            </button>
          </h2>
          <div
            id="collapseCirconstanceDecouverte"
            class="accordion-collapse collapse"
            aria-labelledby="headingCirconstanceDecouverte"
            data-bs-parent="#ficheAccordion"
          >
            <div class="accordion-body">


            </div>
          </div>
        </div>
      </div>
            
      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
